.main-bg{
    /* background-image: url(bg.jpg)!important; */
    background-color: #141E46!important;
    background-size: cover!important;
}
.name-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}
.name-subtext{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-style: italic;
}
.title-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;
}
.subtitle-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px!important;
}
.nav-text{
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
.nav-icon {
   border-color: #ff4500!important;
   opacity: 0.8!important;
}
.accent{
    color:#ff4500
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.glass-card {
    background: rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    padding: 12px!important;
    border-radius: 6px;
}
